<%- include('header')-%>
    
   <section>
    <h1 class="text-white m-2">Welocome to dashboard :&#41</h1>
    <button onclick="window.location.href = '/logout' " class="btn btn-danger m-2">Logout</button>
   </section>
    
    <%- include('footer')-%>