<%- include('header')-%>
    
    <div class="text-center container">
        <form action="" style="max-width: 480px; margin: auto;" method="post">
            <img src="/static/Assets/8153538.png" alt="login-bg" height="100px" class="m-3">
            <h3>Please login</h3>

            <label for="emailAddress" class="sr-only"></label>
            <%if(locals.error && locals.error.invalidUserError){%>
                
                <div class=" unauthError my-4"><p>Unauthorized or Invalid credentials</p></div>
                
            <%}%>
            <% if(locals.error && locals.error.emailError){ %>
                
                <p class="text-danger"><%= locals.error.emailError ||'Please Enter email address'  %></p>
            <% } %>

            <input type="email" id="emailAddress" class="form-control" name="email" placeholder="email Address" autofocus>
            <label for="password" class="sr-only"></label>

            <% if(locals.error && locals.error.passError){ %>
                
                <p class="text-danger"><%= locals.error.passError ||'Please Enter email address'  %></p>
            <% } %>

            <input type="password" id="password" class="form-control" name="password" placeholder="password">
            <div class="mt-3 d-grid mx-auto" style="width: 100%;">
                <button class="btn col-md-12 btn-primary btn-lg btn-block"  >submit</button>
            </div>
        </form>
    </div>


    <%- include('footer')-%>